#menu1 {
	position: relative;
	left: -196px;
}

.form-control {
	position: relative;
	right: -300px;
	top: -75px;
}
#form-control1 {
	position: relative;
	top: -50px;
	right: -310px;
}
#submit {
	position: relative;
	right: -300px;
	top: -75px;
}
#submit1 {
	position: relative;
	right: -310px;
	top: -50px;
}
.btn-default {
	background-color: #ff5739;
	border-color: black;
	color: white; 
background: -webkit-linear-gradient(#ff670f 0%, #ff5739 100%);
background: -o-linear-gradient(#ff670f 0%, #ff5739 100%);
background: linear-gradient(#ff670f 0%, #ff5739 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5739', endColorstr='#ff5739',GradientType=0 );
}
.navbar {
	height: 60px;
}
.navbar-brand {
	line-height: 0;
}