.form-control {
	position: relative;
	top: 10px;
}
#exampleInputEmail1 {
	position: relative;
	right: 0;
	top: 0;
}
.form-control {
	position: relative;
	top: -50px;
	right: -310px;
}
#submit1 {
	position: relative;
	right: -310px;
	top: -50px;
}
#submit2 {
	position: relative;
	right: -310px;
	top: -50px;
}
.btn-default {
	background-color: #ff5739;
	border-color: black;
	color: white;
}
.navbar {
	height: 60px;
}
.navbar-brand {
	line-height: 30px;
}
@media (min-width: 992px) and (max-width: 2500px){
.form-control>.navbar {
	margin-right: 0;
	margin-left: 0;
}
}
@media (min-width: 768px) and (max-width: 991px){
.form-control>.navbar>.dropdown {
	margin-right: 0;
	margin-left: 0;
}
}