
    <div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a href="/landing"><h2 class="navbar-brand" href="/landing">The Adaptive Traveler</h2></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid" id="content">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-xl-8 col-xl-offset-2">
                <div class="panel panel-default">
                    <div class="panel panel-header text-center" id="about-header">
                        About
                    </div>
                    <div class="panel panel-body" id="about-body">
                        <p id="about-us">
                            The Adaptive Traveler is a website conceived in traveling and the understanding that all cultures are equal but different.
                        It is our belief that knowledge is power, education fosters acceptance of our many differences, and that despite our differences
                        across the world we can resist hatred and cultural divisions through a better understanding of one another's way of life.  We have
                        found that through travel and cultural immersion one can better identify and understand why other cultures function in the way they do.
                        This website aims to compile information regarding the many facets and barriers of traveling to a foreign destination so that one may not
                        only immerse themselves better as a tourist or visitor, but also have a richer and more enjoyable experience while abroad.
                        </p> 
                        <br />
                        <p id="twain">
                            "Travel is fatal to prejudice, bigotry, and narrow-mindedness, and many of our people need it sorely on these accounts.
                            Broad, wholesome, charitable views of men and things cannot be acquired by vegetating in one little corner of the earth all one's lifetime."
                            <br />
                            - Mark Twain
                        </p>
                    </div>
                </div>
            </div>
            <footer class="footer">
                © 2017 The Adaptive Traveler
            </footer>
