<!DOCTYPE html>
<div class="container-fluid" "landing-background">
    <nav class="navbar collapse d-flex navbar-expand-lg mr-auto" id="landing-nav">
        <div class="navbar-header" id="landing-header">

            <a href="/aussieLanding">
                <h2 class="navbar-brand"><img id="tatlogo" src="/Images/TATLogoDone2.png"></h2>

            </a>
        </div>

        
        <div class="navbar-text text-center" id="slogan">
            For The Bloke Who
            </br>
            Wants A Challenge...
        </div>
        <!-- Register for account button -->
        <div class="container" style="max-width: 50px;">
            <div class="bg"></div>
            <div class="button mr-auto"><a href="/signupAussie"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a></button>
            </div>
        </div>
        <div class="container" style="max-width: 50px;">
            <div class="bg2"></div>
            <div class="button mr-auto"><a href="/languageSelector"><span class="flag-icon flag-icon-au"></span></a></button>
            </div>
        </div>
    </nav>
</div>



<footer class="footer">
    © 2020 The Adaptive Traveler
</footer>