<div id="content" class="berlin-background">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-expand-lg aqua-gradient" id="berlin-nav">
            <div class="navbar-header" id="landing-header">
                <a href="/landing">
                    <img src="/Images/taticon.png" id="tatlogo">
                </a>
                <a href="/landing">
                    <h2 class="navbar-brand">The Adaptive Traveler</h2>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="input-group">
                    <form id="form-search" method="get" action="" role="form" class="form-inline">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <input style="color: #e7e7e7 !important;" type="text" class="form-control form-inline" id="explore" placeholder="Explore"
                                    id="search-text-input">
                                <span class="input-group-btn">
                                    <button id="letsgo-berlin" class="btn btn-default" type="button">Let's Go!
                                        <span>
                                            <i class="fa fa-paper-plane-o ml-1"></i>
                                        </span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-nav navbar-right" id="nav-links">
                    <li>
                        <a id="contact-about" href="/contact">Contact</a>
                    </li>
                    <li>
                        <a id="contact-about" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-1 col-lg-3 col-lg-offset-2 col-xl-3 col-xl-offset-2">
            <div class="panel panel-default" id="cultural-tips-berlin">
                <div class="panel panel-header text-center" id="cultural-tips-header">
                    Berlin, Germany / Berlin, Deutschland
                </div>
                <div class="panel panel-body" id="berlin-cult-tips-body">
                    <h2 id="cultural-tips-title">Cultural Tips</h2>
                    <ul class="list-items" id="cultural-tip-items">
                        <li>
                            Most Germans speak English so Germany is effectively one of the worst places to practice your spoke German.
                        </li>
                        <li>
                            Waiters & Waitresses tend to leave patrons alone while eating, thus placing one's silverware facing inward on one's plate at a 1 or 2 O'Clock position denotes to a server that one is finished with their meal.
                        </li>
                        <li>
                            Germans commonly take their shoes off while in someone else's home or their own.
                        </li>
                        <li>
                            In Germany, and most of Europe for that fact, it is rude or unsettling to not say "hello" or "goodbye."
                        </li>
                        <li>
                            Using the word "Fräulein" is less common in modern times as it denotes a female that is unmarried, "Frau" is the standard for the majority of women today.
                        </li>
                        <li>
                            The word for "blue" in German is "blau," which also means "drunk."
                        </li>
                        <li>
                            While technically illegal, drinking in public is "tolerated" if one does not get out of control, and in some cities seen as "cool" just to be seen carrying a bottle of beer.
                        </li>
                        <li>
                            Privacy is a big issue in Germany, understand it and respect it.
                        </li>
                        <li>
                            DO NOT DO ANYTHING RELATED TO NAZIS...SALUTING, TAGGING, ETC...IT IS ILLEGAL IN GERMANY!
                        </li>
                    </ul>
                </div>
            </div>
        </div>

</div>
<footer class="footer" id="berlin-footer">
    © 2017 The Adaptive Traveler
</footer>