<div id="content" id="berlin-background">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-expand-lg orange-gradient" id="berlin-nav">
            <div class="navbar-header" id="berlin-header">
                <a href="/landing">
                    <img src="/Images/taticon.png" id="tatlogo">
                </a>
                <a href="/landing">
                    <h2 class="navbar-brand">The Adaptive Traveler</h2>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="input-group">
                    <form id="form-search" method="get" action="" role="form" class="form-inline">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <input style="color: #e7e7e7 !important;" type="text" class="form-control form-inline" id="explore" placeholder="Explore"
                                    id="search-text-input">
                                <span class="input-group-btn">
                                    <button id="letsgo" class="btn btn-default" type="button">Let's Go!
                                        <span>
                                            <i class="fa fa-paper-plane-o ml-1"></i>
                                        </span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


</div>
<footer class="footer" id="berlin-footer">
    © 2017 The Adaptive Traveler
</footer>