<div id="content">
<div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="navbar-header" id="landing-header">
                <a href="/landing"><img src="/Images/taticon.png" id="tatlogo"></a>           
                <a href="/landing"><h2 class="navbar-brand">The Adaptive Traveler</h2></a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


</div>