<div id="content" class="landing-background">
    <div class="container-fluid">
        <nav class="navbar collapse navbar-collapse navbar-expand-lg peach-gradient" id="landing-nav">
            <div class="navbar-header" id="landing-header">
                <a href="/landing">
                    <img src="/Images/taticon.png" id="tatlogo">
                </a>
                <a href="/landing">
                    <h2 class="navbar-brand">The Adaptive Traveler</h2>
                </a>
            </div>
                <div class="input-group">
                    <form id="form-search" method="get" action="" role="form" class="form-inline">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <input style="color: #e7e7e7 !important;" type="text" class="form-control form-inline" id="explore" placeholder="Explore"
                                    id="search-text-input">
                                <span class="input-group-btn">
                                    <button id="letsgo" class="btn btn-default" type="button">Let's Go!
                                        <span>
                                            <i class="fa fa-paper-plane-o ml-1"></i>
                                        </span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="navbar-nav navbar-right mr-auto" id="nav-links">
                    <li>
                        <a id="contact-about" href="/contact">Contact | </a>
                    </li>
                    <li>
                        <a id="contact-about" class="ml-2" href="/about">  About</a>
                    </li>
                </ul>
        </nav>
    </div>
    <div class="container-fluid" id="content">
        <div class="row initial">
            <div class="col-xs-8 col-xs-offset-3 col-sm-6 col-sm-offset-4 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-5 col-xl-8 col-xl-offset-4"
                style="padding-left: 5px;">
                <button class="btn btn-default" id="pop-destinations" type="button">Popular Destinations
                    <span>
                        <i class="fa fa-map-pin fa-4x ml-3"></i>
                    </span>
                </button> 
            </div>
        </div>
        <div class="row secondary">
            <div id="your-travels" class="col-xs-8 col-xs-offset-3 col-sm-6 col-sm-offset-4 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-5 col-xl-8 col-xl-offset-2">
                <!-- Button to open modal login form -->
                <button onclick="document.getElementById('login-window').style.display='block'" class="btn btn-default" id="yourTravels"
                    type="button">Your Travels
                    <span>
                        <i class="fa fa-plane fa-4x ml-3"></i>
                    </span>
                </button>

                <!-- The Modal -->
                <div id="login-window" class="modal">
                    <span onclick="document.getElementById('login-window').style.display='none'" class="close" title="Close Modal">&times;</span>

                    <!-- Modal Content -->
                    <form class="modal-content animate" id="login-form-window">
                        <div class="imgcontainer">
                            <img src="Images/default-avatar.png" alt="Avatar" class="avatar img-responsive center-block" id="login-avatar">
                        </div>

                        <div class="container-fluid" id="window">
                            <label id="handle-label">
                                <b>Handle</b>
                            </label>
                            <br />
                            <input id="login-handle" type="text" placeholder="Enter Handle" name="handle" required>

                            <label id="password-label">
                                <b>Password</b>
                            </label>
                            <br />
                            <input id="login-password" type="password" placeholder="Enter Password" name="psw" required>
                            <br />
                            <button class="btn btn-default" id="send-button" type="submit">Login</button>
                            <br />
                            <div id="checkbox">
                                <input type="checkbox" checked="checked"> Remember Me
                            </div>
                        </div>

                        <div class="container-fluid text-center" style="background-color:#f1f1f1">
                            <button type="button" onclick="document.getElementById('login-window').style.display='none'" class="btn btn-default cancelbtn" id="send-button">Cancel</button>
                            <span class="psw">
                                <a href="#">Forgot Password?</a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row tertiary">
            <div id="signup-col" class="col-xs-8 col-xs-offset-3 col-sm-6 col-sm-offset-4 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-5 col-xl-8 col-xl-offset-4">
                <button class="btn btn-default" id="create-profile" type="button">Create A Profile
                    <span>
                        <i class="fa fa-user-circle fa-4x ml-3"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    © 2017 The Adaptive Traveler
</footer>