<div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <h2 class="navbar-brand" href="/landing">The Adaptive Traveler</h2>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row initial">
            <div class="col-xs-8 col-xs-offset-4 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-5 col-xl-8 col-xl-offset-4" style="padding-left: 5px;">
                <div class="input-group">
                    <form id="form-search" method="get" action="" role="form" class="form-inline">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <input style="color: white !important;" type="text" class="form-control form-inline explore" placeholder="Explore" id="search-text-input">
                                <span class="input-group-btn">
                                    <button id="letsgo" class="btn btn-default" type="button">Let's Go!</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row secondary">
            <div id="your-travels" class="col-xs-8 col-xs-offset-4 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-5 col-xl-8 col-xl-offset-4">
                <button class="btn btn-default" id="yourTravels" type="button">Your Travels</button>
            </div>
        </div>
        <div class="row tertiary">
            <div id="signup-col" class="col-xs-8 col-xs-offset-4 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-5 col-xl-8 col-xl-offset-4">
                <button class="btn btn-default" id="create-profile" type="button">Create A Profile</button>
            </div>
        </div>
    </div>
    <footer class="footer">
        © 2017 The Adaptive Traveler
    </footer>