<!DOCTYPE html> 
  <div id="content">
    <div class="container-fluid">
        <nav class="navbar navbar-collapse navbar-expand-lg mr-auto" id="landing-nav">
            <div class="navbar-header" id="landing-header">
                
                <a href="/traveler1">
                    <h2 class="navbar-brand"><img id="tatlogo" src="/Images/TATLogoDone2.png"></h2>
                     
                </a>
            </div>
            
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="input-group collapse navbar-collapse" id="navbarSupportedContent">
                <form id="form-search" method="get" action="" role="form" class="form-inline">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <input type="text" class="form-control form-inline" id="explore" placeholder="Explore" id="search-text-input">
                            <span class="input-group-btn">
                                <button id="letsgo" class="btn btn-default waves-effect" type="button">Let's Go!
                                    <span>
                                        <i class="fa fa-paper-plane-o ml-1"></i>
                                    </span>
                                </button>
                            </span>
                        </div>
                    </div>   
                </form>
            </div>
             
        </nav>
    </div>
    <div class="container-fluid" style="margin-top: 50px;">
        <a href="/aussieLanding"><span class="flag-icon flag-icon-au" style="height: 60px; width: 80px"></span></a> 
        <a href="/chinaLanding"><span class="flag-icon flag-icon-cn" style="height: 60px; width: 80px"></span></a>
        <a href="/traveler1"><span class="flag-icon flag-icon-us" style="height: 60px; width: 80px"></span></a>
        <a href="/frenchLanding"><span class="flag-icon flag-icon-fr" style="height: 60px; width: 80px"></span></a>
        <a href="/germanLanding"><span class="flag-icon flag-icon-de" style="height: 60px; width: 80px"></span></a>
        <a href="/irishLanding"><span class="flag-icon flag-icon-ie" style="height: 60px; width: 80px"></span></a>
        <a href="/japaneseLanding"><span class="flag-icon flag-icon-jp" style="height: 60px; width: 80px"></span></a>
        <a href="/kiwiLanding"><span class="flag-icon flag-icon-nz" style="height: 60px; width: 80px"></span></a>
        <a href="/koreanLanding"><span class="flag-icon flag-icon-kr" style="height: 60px; width: 80px"></span></a>
        <a href="/mexicoLanding"><span class="flag-icon flag-icon-mx" style="height: 60px; width: 80px"></span></a>
        <a href="/mongoliaLanding"><span class="flag-icon flag-icon-mn" style="height: 60px; width: 80px"></span></a>
        <a href="/polandLanding"><span class="flag-icon flag-icon-pl" style="height: 60px; width: 80px"></span></a>
        <a href="/russiaLanding"><span class="flag-icon flag-icon-ru" style="height: 60px; width: 80px"></span></a>
        <a href="/scotlandLanding"><span class="flag-icon flag-icon-gb-sct" style="height: 60px; width: 80px"></span></a>
        <a href="/southafricaLanding"><span class="flag-icon flag-icon-za" style="height: 60px; width: 80px"></span></a>
        <a href="/spainLanding"><span class="flag-icon flag-icon-es" style="height: 60px; width: 80px"></span></a>
        <a href="/swedenLanding"><span class="flag-icon flag-icon-se" style="height: 60px; width: 80px"></span></a>
        <a href="/philippinesLanding"><span class="flag-icon flag-icon-ph" style="height: 60px; width: 80px"></span></a>
        <a href="/thailandLanding"><span class="flag-icon flag-icon-th" style="height: 60px; width: 80px"></span></a>
        <a href="/ukraineLanding"><span class="flag-icon flag-icon-ua" style="height: 60px; width: 80px"></span></a>
    </div>

    <footer class="footer">
    © 2019 The Adaptive Traveler
    </footer>