<!DOCTYPE html> 
  <div id="content">
    <div class="container-fluid">
        <nav class="navbar navbar-collapse navbar-expand-lg mr-auto" id="landing-nav">
            <div class="navbar-header" id="landing-header">
                
                <a href="/landing">
                    <h2 class="navbar-brand"><img id="tatlogo" src="/Images/TATLogoDone2.png"></h2>
                     
                </a>
            </div>
            
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="input-group collapse navbar-collapse" id="navbarSupportedContent">
                <form id="form-search" method="get" action="" role="form" class="form-inline">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <input type="text" class="form-control form-inline" id="explore" placeholder="Explore" id="search-text-input">
                            <span class="input-group-btn">
                                <button id="letsgo" class="btn btn-default waves-effect" type="button">Let's Go!
                                    <span>
                                        <i class="fa fa-paper-plane-o ml-1"></i>
                                    </span>
                                </button>
                            </span>
                        </div>
                    </div>   
                </form>
               
            </div>
             <!-- Register for account button -->
             <a href="/signup">
                <button class="btn btn-default" id="create-profile" type="button">Create A Profile
                    <span>
                        <i class="fa fa-user fa-2x"></i>
                    </span>
                </button></a>
                <!-- login to your account button-->
                <a href="/signin">
                <button class="btn btn-default" id="yourTravels" type="button">Your Travels
                    <span>
                        <i class="fa fa-plane fa-2x ml-3"></i>
                    </span>
                </button></a>
        </nav>
    </div>
    <div class="container-fluid landing-background">    
        <div class="row">
        	<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4 col-xl-8 col-xl-offset-2" id="login-col">
				<div class="panel panel-default" id="login-panel">
					<div class="panel panel-body login-panel">
        				<form role="form" class="user-login">
        				<div class="form group">
        					<input type="text" class="form-control" id="username" placeholder="Username">
        					<input type="password" class="form-control" id="password" placeholder="Password">
        					<button id="login-button" type="button" class="btn btn-default">Login</button>
        				</div>
        				</form>
        			</div>
        		</div>
        	</div>
        </div>	
	</div>
</div>						


			<footer class="footer">
        	© 2017 The Adaptive Traveler
    		</footer>