<div id="content" class="hangzhou-background">
    <div class="container-fluid">
        <nav class="navbar navbar-collapse navbar-expand-lg aqua-gradient" id="berlin-nav">
            <div class="navbar-header" id="landing-header">
                <a href="/landing">
                    <img src="/Images/taticon.png" id="tatlogo">
                </a>
                <a href="/landing">
                    <h2 class="navbar-brand">The Adaptive Traveler</h2>
                </a>
            </div>
            <div class="input-group collapse navbar-collapse" id="navbarSupportedContent">
                <form id="form-search" method="get" action="" role="form" class="form-inline">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <input style="color: #e7e7e7 !important;" type="text" class="form-control form-inline" id="explore" placeholder="Explore"
                                id="search-text-input">
                            <span class="input-group-btn">
                                <button id="letsgo-berlin" class="btn btn-default" type="button">Let's Go!
                                    <span>
                                        <i class="fa fa-paper-plane-o ml-1"></i>
                                    </span>
                                </button>
                            </span>
                            <button class="btn btn-default" id="pop-destinations-aqua" type="button">Popular Destinations
                                <span>
                                    <i class="fa fa-map-pin fa-2x"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <ul class="navbar-nav navbar-right mr-auto" id="nav-links">
                <li>
                    <a id="contact-about" href="/contact">Contact |</a>
                </li>
                <li>
                    <a id="contact-about" class="ml-2" href="/about">About</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container-fluid" id="content">
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-3 col-lg-2 col-xl-2">
                <div class="dropdown">
                    <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="side-dropdowns-aqua" data-toggle="dropdown">The "Good Good"

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Maps</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Hotels</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Which Direction?</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Cool Spots</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Photo Locations</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Videos</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" id="side-dropdowns-aqua" data-toggle="dropdown">Caché

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Off-The-Beaten-Path</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Hidden Stuff</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" id="side-dropdowns-aqua" data-toggle="dropdown">Do What?

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu3">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Family</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Friends</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Couples</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Célibataire</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Group</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" id="side-dropdowns-aqua" data-toggle="dropdown">Grub

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu4">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Quick Eats</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Romantic</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Family</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Brew Bites</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Snacks</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Healthy</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Vegan</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" id="side-dropdowns-aqua" data-toggle="dropdown">Cultural

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu5">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Language Phrases</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Customs & Practices</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">History</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Art</a>
                        </li>
                    </ul>
                </div>
            </div>
        <div class="col-xs-6 col-xs-offset-1 col-sm-10 col-md-3 col-lg-4 col-xl-4">
            This Site is Currently Under Construction
        </div>
        <div class="col-xs-6 col-xs-offset-1 col-sm-10 col-md-2 col-lg-5 col-xl-4" id="tips-column">
            
        </div>
    </div>
        <footer class="footer" id="berlin-footer">
            © 2017 The Adaptive Traveler
        </footer>