<!DOCTYPE html> 
  <div id="content">
    <div class="container-fluid" "landing-background">
        <nav class="navbar navbar-collapse navbar-expand-lg mr-auto" id="landing-nav">
            <div class="navbar-header" id="landing-header">
                <a href="/landing">
                    <img class="ml-auto" src="/Images/TATLogoDone1.png" id="tatlogo">
                </a>
                <a href="/landing">
                    <h2 class="navbar-brand">The Adaptive Traveler</h2>
                </a>
            </div>
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="input-group collapse navbar-collapse" id="navbarSupportedContent">
                <form id="form-search" method="get" action="" role="form" class="form-inline">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <input style="color: #e7e7e7 !important;" type="text" class="form-control form-inline" id="explore" placeholder="Explore" id="search-text-input">
                            <span class="input-group-btn">
                                <button id="letsgo" class="btn btn-default waves-effect" type="button">Let's Go!
                                    <span>
                                        <i class="fa fa-paper-plane-o ml-1"></i>
                                    </span>
                                </button>
                            </span>
                        </div>
                    </div>   
                </form>
               
            </div>
             <!-- The button to open to open the modal -->
                <button onclick="document.getElementById('create-window').style.display='block'" class="btn btn-default" id="create-profile" type="button">Create A Profile
                    <span>
                        <i class="fa fa-user fa-2x"></i>
                    </span>
                </button>

                <button onclick="document.getElementById('login-window').style.display='block'" class="btn btn-default" id="yourTravels" type="button">Your Travels
                    <span>
                        <i class="fa fa-plane fa-2x ml-3"></i>
                    </span>
                </button>
        </nav>
    </div>
    <div id="outerContainer">
    <div id="container" class="landing-background">
      <div class="item" style="align-items: center;">
        <img class="text-center" src="../images/TATLogoDone1.png" />
      </div>
      <div class="circle" style="animation-delay: -3s"></div>
      <div class="circle" style="animation-delay: -2.5s"></div>
       <div class="circle" style="animation-delay: -2s"></div>
      <div class="circle" style="animation-delay: -1.5s"></div>
       <div class="circle" style="animation-delay: -1s"></div>
      <div class="circle" style="animation-delay: 0.5s"></div>
      <div class="circle" style="animation-delay: 0s"></div>
    </div>
  </div>
  <footer class="footer">
            © 2019 The Adaptive Traveler
        </footer>