<!DOCTYPE html>
<div class="container-fluid" "landing-background">
    <nav class="navbar collapse d-flex navbar-expand-lg mr-auto" id="landing-nav">
        <div class="navbar-header" id="landing-header">

            <a href="/traveler1">
                <h2 class="navbar-brand"><img id="tatlogo" src="/Images/TATLogoDone2.png"></h2>

            </a>
        </div>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="input-group navbar-collapse" id="navbarSupportedContent">
            <form id="form-search" method="get" action="" role="form" class="form-inline">
                <div class="form-group has-feedback">
                    <div class="input-group">
                        <input type="text" class="form-control form-inline" id="explore" placeholder="Explore" id="search-text-input">
                        <span class="input-group-btn">
                            <button id="letsgo" class="btn btn-default waves-effect" type="button">Let's Go!
                                <span>
                                    <i class="fa fa-paper-plane-o ml-1"></i>
                                </span>
                            </button>
                        </span>
                    </div>

                </div>
            </form>

        </div>
        <div class="navbar-text">
            Spreading Cultural Knowledge and Understanding Across the World...
        </div>
        <!-- Register for account button -->
        <a href="/signup">
            <button class="btn btn-default" id="create-profile" type="button">Create A Profile
                <span>
                    <i class="fa fa-user fa-2x"></i>
                </span>
            </button></a>
        <!-- login to your account button-->
        <a href="/signin">
            <button class="btn btn-default" id="yourTravels" type="button">Your Travels
                <span>
                    <i class="fa fa-plane fa-2x ml-3"></i>
                </span>
            </button></a>
        <a class="nav-link" href="/languageSelector"><span class="flag-icon flag-icon-us"></span></a> 
    </nav>
</div>
<div id="outerContainer">
    <div id="container" class="landing-background">            
                <div class="item">
                    <img class="text-center" src="../Images/TATLogoDone2.1.png" />
                </div>

                <div class="circle" style="animation-delay: -3s"></div>
                <div class="circle" style="animation-delay: -2.5s"></div>
                <div class="circle" style="animation-delay: -2s"></div>
                <div class="circle" style="animation-delay: -1.5s"></div>
                <div class="circle" style="animation-delay: -1s"></div>
                <div class="circle" style="animation-delay: 0.5s"></div>
                <div class="circle" style="animation-delay: 0s"></div>
            </div>
        </div>
        <div class="row navi-items d-flex align-items-between" style="margin: 0 0 0 20px;">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2 col-xl-2">
                    <div class="item2">
                        <img class="text-center" src="../Images/GoodGood2LogoColor.png" />
                    </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2 col-xl-2">
                    <div class="item2">
                        <img class="text-center" src="../Images/grubIcon3.png" />
                    </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2 col-xl-2">
                    <div class="item2">
                        <img class="text-center" src="../Images/doWhat.png" />
                    </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2 col-xl-2">
                    <div class="item3">
                        <img class="text-center" id="languagesIconSize" src="../Images/worldPeopleLogo.png" />
                    </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2 col-xl-2">
                    <div class="item2">
                        <img class="text-center" src="../Images/photoLocIcon.png" />
                    </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-2 col-xl-2"> 
                    <div class="item4">
                        <img class="text-center" src="../Images/culturalStuff.png" />
                    </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer">
    © 2020 The Adaptive Traveler
</footer>